.container{
    width: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 20px;
}
.btn-add{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #12a443;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}
.btn-add:hover{
    background: #1bca4f;
}
.equipment-table{
    width: 100%;
    border-collapse: collapse;
}
.equipment-table th, .equipment-table td{
    padding: 10px;
    border: 1px solid #035120da;
    text-align: left;
}
.equipment-table th{
    background-color: #09681eea;
}
.equipment-table tr:nth-child(even){
    background-color: #f2f2f2;
}
.equipment-table tr:hover{
    background-color: #e9ecef;
}
.equipment-table img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.edit-equip-btn{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.edit-equip-btn:hover{
    background-color: #218838;
}
.delete-equip-btn{
    text-decoration: none;
    padding: 5px 4px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.delete-equip-btn:hover{
    background-color: #c82333;
}